---
import { Icon } from 'astro-icon';

const {
	label = 'Toggle between Dark and Light mode',
	class: className = 'btn-icon',
	iconClass = 'w-6 h-6',
	iconName = 'tabler:sun',
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
	<Icon name={iconName} class={iconClass} />
</button>
