---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Founder',
		description: 'Building Catamyst to help the mission to move forward.',
		icon: 'flat-color-icons:factory',
	},
	{
		title: 'Mentor',
		description: 'Mentoring, coaching, and training people to be better.',
		icon: 'flat-color-icons:faq',
	},
	{
		title: 'Engineer',
		description: 'Developing new things and maintaining existing stuffs.',
		icon: 'flat-color-icons:engineering',
	},
	{
		title: 'Creator',
		description: 'Making interesting contents for learning and fun.',
		icon: 'flat-color-icons:electronics',
	},
	{
		title: 'Organizer',
		description: 'Promoting community events and advocating knowledge.',
		icon: 'flat-color-icons:panorama',
	},
	{
		title: 'Designer',
		description: 'Designing interface and experience for practical use.',
		icon: 'flat-color-icons:landscape',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Career</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>My Work</span>
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
					>
						Specialty
					</span>
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					All around software engineering, web development, and career development
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col rounded bg-white p-6 outline outline-slate-100 transition dark:bg-slate-900 dark:outline-slate-800">
							<div class="mb-4 flex items-center">
								<Icon name={icon} class="h-12 w-12" />

								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-md text-gray-500 dark:text-gray-400">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
