---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'General Stack',
			description:
				'JavaScript, TypeScript, Node.js/Deno/Bun, npm/yarn/pnpm, Golang, Rust, Python, Ruby, Kotlin/Java, Swift, Dart',
			icon: 'tabler:components',
		},
		{
			title: 'Frontend and UI Components',
			description:
				'Figma, HTML, CSS, JavaScript, TypeScript, Tailwind CSS, Ariakit, Radix UI, Headless UI, Vite, Turbopack, React, React Router, TanStack Router',
			icon: 'tabler:eye',
		},
		{
			title: 'Backend and Database',
			description: 'Express, NestJS, GraphQL Yoga, Pothos, Prisma, MySQL/MariaDB/PlanetScale, PostgreSQL/Neon/Supabase',
			icon: 'tabler:database',
		},
	],
	[
		{
			title: 'Full Stack, Web API, Testing, CI/CD',
			description:
				'Remix, Next.js, Astro, RedwoodJS, REST API, GraphQL, tRPC, gRPC, Vitest, testing-library, Playwright, GitHub Actions',
			icon: 'tabler:arrows-right-left',
		},
		{
			title: 'Deployment, Infra, Services',
			description:
				'Vercel, Netlify, Railway.app, Various Analytics, Mailjet, Google Cloud Platform (GCP), Amazon Web Services (AWS), Microsoft Azure',
			icon: 'tabler:rocket',
		},
		{
			title: 'Management, Repo, Misc',
			description:
				'Linear, Basecamp, Twist/Slack/Discord, Markdown, Git, GitHub/GitLab, Turborepo, Warp/iTerm2/Hyper, Vim, VS Code, Slidev',
			icon: 'tabler:list-check',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800 rounded-xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">
				It's Techin' Time
			</p>
			<h2 class="text-4xl md:text-5xl font-medium leading-tighter tracking-tighter mb-4 font-heading">
				<span>My Favorite</span>
				<span
					class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
				>
					Stack
				</span>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				<span>Mostly using web technologies.</span>
				<a
					class="font-medium text-primary-500"
					target="_blank"
					rel="noopener noreferrer"
					href="https://a.catamyst.com/stack"
				>
					See complete list
				</a>
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex max-w-md flex-row">
								<div class="mb-4 mr-4">
									<div class="bg-primary-500 flex h-12 w-12 items-center justify-center rounded-xl">
										{icon && <Icon name={icon} class="h-6 w-6 text-white" />}
									</div>
								</div>
								<div>
									<h3 class="mb-2 text-xl font-medium">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
