---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'General Stack',
			description: 'JavaScript, TypeScript, Node.js/Deno/Bun, npm/yarn/pnpm',
			icon: 'tabler:components',
		},
		{
			title: 'Frontend and UI Components',
			description:
				'HTML, CSS, JavaScript, TypeScript, Tailwind CSS, Ariakit, Radix UI, Headless UI, Vite, Turbopack, React, React Router, TanStack Router',
			icon: 'tabler:brand-tailwind',
		},
		{
			title: 'Backend and Database',
			description: 'GraphQL Yoga, Express, NestJS, Pothos, Prisma, PostgreSQL, MySQL/MariaDB',
			icon: 'tabler:rocket',
		},
	],
	[
		{
			title: 'Full Stack, Web API, Testing',
			description: 'Remix, Next.js, Astro, RedwoodJS, REST API, GraphQL, Vitest, Playwright',
			icon: 'tabler:list-check',
		},
		{
			title: 'Deployment, Infra, Services',
			description:
				'Vercel, Netlify, Railway.app, Various Analytics, Mailjet, Google Cloud Platform (GCP), Amazon Web Services (AWS), Microsoft Azure',
			icon: 'tabler:arrows-right-left',
		},
		{
			title: 'Management, Repo, Tools',
			description: 'Linear, Markdown, Git, GitHub, Turborepo, Warp, VS Code, Vim, Slidev',
			icon: 'tabler:ballon',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">
				It's Techin' Time
			</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				My Favorite <span
					class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
				>
					Stack
				</span>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Mostly using web technologies
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex max-w-md flex-row">
								<div class="mb-4 mr-4">
									<div class="flex h-12 w-12 items-center justify-center rounded-full bg-primary-500">
										{icon && <Icon name={icon} class="h-5 w-5 text-white" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
