---
import FollowButton from '~/components/atoms/FollowButton.astro';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-9xl font-medium leading-tighter tracking-tighter mb-4 font-heading">
					<span>Hi! I'm</span>
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
					>
						Haidar
					</span>
				</h1>
				<div class="max-w-3xl mx-auto">
					<div class="mb-8 text-gray-600 dark:text-slate-400">
						<p class="text-xl mb-2">
							🧊 I'm helping people like you to be better especially in modern career, web development, software
							engineering, tech business, and life in general.
						</p>
						<p class="text-md text-gray-400 dark:text-slate-600">
							Fun coding since 2000 + Professional coding since 2010
						</p>
					</div>
					<div class="flex justify-center">
						<FollowButton />
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-6xl">
					<Picture
						src={import('~/assets/images/mhaidarhanif-hero.jpg')}
						class="mx-auto rounded-xl shadow-xl bg-gray-400 dark:bg-slate-700 w-full"
						widths={[600, 1490]}
						sizes="(max-width: 1490px) 600px, 1490px"
						alt="Hero Image"
						aspectRatio="16:9"
						loading="eager"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
