---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section class="mx-auto max-w-6xl px-4 py-16 sm:px-6 lg:py-20">
	<div class="row-gap-10 grid gap-10 md:grid-cols-2">
		<div class="relative">
			<Picture
				class="object-cover object-top w-full rounded-xl shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700 max-w-[500]"
				src={import('~/assets/images/mhaidarhanif-nature.jpg')}
				alt="M Haidar Hanif"
				widths={[500, 1000]}
				sizes="(max-width: 1000px) 100vw, 1000px"
				aspectRatio="1:1"
			/>
		</div>
		<div class="md:pb-6 md:pr-16">
			<h2 class="font-heading mb-8 text-3xl font-medium lg:text-4xl">My Journey</h2>
			<div class="flex">
				<div class="mr-4 flex flex-col items-center">
					<div>
						<div class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-secondary-500">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-medium text-gray-900 dark:text-slate-300">Frontend Web</p>
					<p>
						All things interface and interaction. Including UI, UX, Figma, HTML, CSS, JavaScript, TypeScript, and React.
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="mr-4 flex flex-col items-center">
					<div>
						<div class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-secondary-500">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-medium text-gray-900 dark:text-slate-300">Backend Web</p>
					<p>All things API and database. Including DBMS, ORM, REST API, and GraphQL.</p>
				</div>
			</div>
			<div class="flex">
				<div class="mr-4 flex flex-col items-center">
					<div>
						<div class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-secondary-500">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-medium text-gray-900 dark:text-slate-300">Full Stack Web</p>
					<p>Everything combined! Including Node.js, npm, deployment, etc.</p>
				</div>
			</div>
			<div class="flex">
				<div class="mr-4 flex flex-col items-center">
					<div>
						<div class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-primary-600">
							<Icon name="tabler:check" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-xl font-medium text-gray-900 dark:text-slate-300">
						<span>Super Developer!</span>
					</p>
					<p class="text-gray-700"></p>
				</div>
			</div>
		</div>
	</div>
</section>
