---
import { SITE } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import SectionCTA from '~/components/widgets/SectionCTA.astro';

const meta = {
	title: `Contact Me — ${SITE.name}`,
	description: 'Contact Haidar through form or social media.',
	canonical: '/contact',
};
---

<Layout {meta}>
	<section>
		<div class="mx-auto max-w-6xl px-4 sm:px-6">
			<div class="pt-12 md:pt-20">
				<div class="mx-auto max-w-5xl pb-10 text-center md:pb-16">
					<h1 class="leading-tighter font-heading mb-4 text-5xl font-medium tracking-tighter">
						<span>Contact and socialize with</span>
						<span
							class="bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent sm:whitespace-nowrap"
						>
							Haidar
						</span>
					</h1>
					<div class="mx-auto max-w-3xl">
						<div class="text-gray-600 dark:text-slate-400">
							<p class="mb-2 text-xl">How to best reach me? Check the adventurous buttons below.</p>
							<p class="text-md text-gray-400 dark:text-slate-500">There will be a contact form later on</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<SectionCTA />
</Layout>
