---
import { SITE } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
	title: `Contact Me — ${SITE.name}`,
	description: 'Contact Haidar through form or social media.',
	canonical: '/contact',
};
---

<Layout {meta}>
	<section>
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="pt-12 md:pt-20">
				<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
					<h1 class="text-5xl font-medium leading-tighter tracking-tighter mb-4 font-heading">
						<span>Contact</span>
						<span
							class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
						>
							Haidar
						</span>
					</h1>
					<div class="max-w-3xl mx-auto">
						<div class="text-gray-600 dark:text-slate-400">
							<p class="text-xl mb-2">How to best reach me? Check the adventurous buttons below.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<CallToAction />
</Layout>
