---
import { Icon } from 'astro-icon';

import Anchor from '~/components/atoms/Anchor.astro';
---

<div class="flex max-w-none flex-wrap items-center gap-3">
	<Anchor href="https://twitter.com/mhaidarhanif" class="btn bg-twitter text-white hover:brightness-110">
		<Icon name="mdi:twitter" class="w-5 h-5 mr-2 -ml-1.5" />
		<span> Follow</span>
	</Anchor>
	<Anchor href="https://linkedin.com/in/mhaidarhanif" class="btn bg-linkedin text-white hover:brightness-110">
		<Icon name="mdi:linkedin" class="w-5 h-5 mr-2 -ml-1.5" />
		<span> Connect</span>
	</Anchor>
	<Anchor href="https://t.me/mhaidarhanif" class="btn bg-telegram text-white hover:brightness-110">
		<Icon name="mdi:telegram" class="w-5 h-5 mr-2 -ml-1.5" />
		<span> Chat</span>
	</Anchor>
	<Anchor href="https://github.com/mhaidarhanif" class="btn bg-github text-white hover:brightness-125">
		<Icon name="mdi:github" class="w-5 h-5 mr-2 -ml-1.5" />
		<span> Follow</span>
	</Anchor>
</div>
