---
import { Icon } from 'astro-icon';
---

<a
	target="_blank"
	rel="noopener"
	href="https://twitter.com/mhaidarhanif"
	class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
>
	<Icon name="bi:twitter" class="w-5 h-5 mr-2 -ml-1.5" />
	<span> Follow and contact me</span>
</a>
