---
import logoImage from '~/assets/brand/mhaidarhanif-logo.svg';
---

<span
	class="flex items-center gap-2 self-center text-2xl font-bold text-gray-900 hover:text-primary-700 whitespace-nowrap dark:text-white dark:hover:text-primary-100"
>
	<img class="w-6 h-6" alt="Logo" src={logoImage} />
	<span> M Haidar Hanif</span>
</span>
