---
import { Icon } from 'astro-icon';
---

<span
	class="flex items-center gap-2 self-center text-2xl font-extrabold text-gray-900 hover:text-primary-700 whitespace-nowrap dark:text-white"
>
	<Icon name="twemoji:ice" class="w-5 h-5" />
	<span> M Haidar Hanif</span>
</span>
